<html>
  <head>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="元素id1">
      <p>{{ 问候 }}</p>
    </div>
    <div id="元素id2">
      <span v-bind:title="动态绑定信息">
        鼠标悬停几秒钟查看此处动态绑定的提示信息！
      </span>
    </div>
    <div id="元素id3">
      <p v-if="看得到">现在你看到我了</p>
    </div>
    <div id="元素id4">
      <ol>
        <li v-for="任务 in 任务表">
          {{ 任务.内容 }}
        </li>
      </ol>
    </div>
    <div id="元素id5">
      <p>{{ 问好 }}</p>
      <button @click="倒着说()">有效</button>
      <button v-on:click="倒着说">无效</button>
    </div>
    <div id="元素id6">
      <p>{{ 问好 }}</p>
      <input v-model="问好">
    </div>
    <div id="元素id7">
      <ol>
        <todo-item
          v-for="物品 in 购物单"
          v-bind:待购="物品"
          v-bind:key="物品.序号">
        </todo-item>
      </ol>
    </div>
  </body>
  <script src="文本绑定.js"></script>
  <script src="属性绑定.js"></script>
  <script src="条件.js"></script>
  <script src="循环.js"></script>
  <script src="点击事件处理.js"></script>
  <script src="模型绑定.js"></script>
  <script src="组件.js"></script>
</html>